.contenedor_carrusel{
    border: 5px solid black;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    /* overflow: hidden; */
}

.item_carrusel{
    border: 1px solid black;
    height: 500px;
    position: relative;
}

.tarjeta_carrusel{
    background-color: rgb(172, 255, 255);
    height: 100%;
}

.flechas{
    /* background-color: rgba(119, 119, 230, 0.423); */
    position: absolute;
    top: 0;
    height: 90%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#imagen1{
    background-color: rgb(255, 228, 196);
}

#imagen2{
    background-color: rgb(255, 64, 64);
}

#imagen3{
    background-color: rgb(250, 196, 255);
}