body {
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(81, 138, 56);
}

h2 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(81, 138, 56);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img {
    width: 200px;
    height: 200px;
}
.card h2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.card p {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}
.card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(126, 217, 87);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: rgb(126, 217, 87);;
}
.quantity {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity label {
    margin-right: 10px;
}
.quantity input[type="number"] {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

.img{
    width: 200px;
    height: 200px;
}